"API_ID" = ""   # Get it from my.telegram.org
"API_HASH" = ""   # Get it from my.telegram.org
"FEED_URLS" = ""  # RSS Feed URL of the site.
"BOT_TOKEN" = ""   # Get it by creating a bot on https://t.me/botfather
"LOG_CHANNEL" = ""   # Telegram Channel ID where the bot is added and have write permission. You can use group ID too.
"INTERVAL" = ""   # Check Interval in seconds.  
"MAX_INSTANCES" = ""   # Max parallel instance to be used.